{% extends 'base.html' %}

{% block title %} Izoh muvaffaqiyatli qoldirildi - Zamonaviy Dasturchi {% endblock %}

{% block content %}
    <main>
        <div class="success-message">
            <div class="success-icon">✅</div>
            <h1>Izohingiz muvaffaqiyatli qoldirildi!</h1>
            <p>Rahmat! Sizning fikringiz biz uchun muhim.</p>
            <a href="blog-detail.html" class="button">Maqolaga qaytish</a>
            <a href="index.html" class="button">Asosiy sahifaga o'tish</a>
        </div>
    </main>
{% endblock %}