<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="page-container">
    <div class="content-wrap">

      {# NAVBAR #}
      {% include 'includes/nav.html' %}

      {# BLOCK CONTENT #}
      {% block content %} {% endblock %}

    </div>

      {# FOOTER #}
      {% include 'includes/footer.html' %}

    <button id="mode-toggle">Tungi rejim</button>
    <script src="{% static 'js/js.js' %}"></script>

</body>
</html>

